// this file should ONLY be imported once! (to root layout)
@import 'reset';
@import 'colors/generator';
@import 'colors/map';
@import 'font/fontMap';
@import 'variables/transitions.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

.app {
  @include create-css-themes-root;

  background-color: $grayscale-1;
  color: $grayscale-10;
  min-height: 100vh;
}

.layout {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 24px;
}

.suspense-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.flipabble {
  transition: transform $default-transition;
  transform: rotate(0);

  &--flipped {
    transform: rotate(180deg);
  }
}
