* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

input,
button,
textarea,
select,
a {
  font: inherit;
  color: inherit;
  outline: none;
}

:focus,
:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body,
#root {
  overflow-x: hidden;
  min-height: 100vh;
  height: fit-content;
  min-width: 100vw;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

input ::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background-color: inherit;
  cursor: pointer;
}

input[type='number'] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}
