@import '@/app/styles';

.skeleton {
  animation: oscillating 2s ease infinite;

  &--composite {
    background-color: $grayscale-3;
  }

  &--base {
    background-color: $grayscale-4;
  }

  &--rect,
  &--square {
    border-radius: 4px;
  }

  &--square,
  &--circle {
    aspect-ratio: 1;
    width: fit-content;
  }

  &--circle {
    border-radius: 50%;
  }
}
