{
    "extends": ["stylelint-config-standard-scss"],
    "rules": {
        "string-quotes": "single",
        "custom-property-pattern": null,
        "selector-class-pattern": "[a-z-_]+",
        "scss/no-global-function-names": null
    }
}
