@import '@/app/styles';

.sidebar {
  display: grid;
  grid-template-rows: 1fr auto;
  height: calc(100vh - $header-height);
  width: $sidebar-width;
  position: relative;
  background-color: $grayscale-2;
  border-right: 1px solid $grayscale-4;
  padding: 12px;
  transition: width $default-transition;

  &--collapsed {
    width: $sidebar-width-collapsed;
  }
}

.controls {
  @include flex-col(12px);

  border-top: 1px solid $grayscale-4;
  padding-top: 12px;
}
