$light-theme: (
  grayscale: (
    -1: #ffffff,
    -2: #f8f7fa,
    -3: #edeaef,
    -4: #dbd7e0,
    -5: #c6c2cb,
    -6: #b2adb6,
    -7: #948f98,
    -8: #746e79,
    -9: #534e58,
    -10: #1d1a20,
    -11: #07030c,
    -12: #000000,
  ),
  accent: (
    -1: #8b2ce9,
    -2: #9741eb,
    -3: #a256ed,
    -4: #d1abf6,
    -5: #eedffc,
  ),
);
