@import '@/app/styles';

$input-height: 40px;
$input-side-pad: 12px;

.container {
  @include flex-col(4px);
}

.fieldset {
  border: 1px solid $grayscale-4;
  border-radius: 6px;
  transition: border-color $default-transition;
  position: relative;

  &:focus-within {
    border-color: $accent-1;
  }

  .legend {
    @extend %caption;

    margin: 0 8px;
    height: 1px;
    opacity: 0;
  }

  .label {
    @extend %text;

    color: $grayscale-8;
    transition: font-size 150ms ease, color 150ms ease;
    position: absolute;
  }

  &--input-filled {
    .label {
      @extend %caption;

      color: $grayscale-9;
    }

    input::placeholder {
      opacity: 1;
    }
  }
}

.input-wrapper {
  @include flex-row-center;

  min-height: $input-height;
  max-height: $input-height;
  border-radius: 6px;
  padding-left: $input-side-pad;

  &--primary {
    background-color: $grayscale-1;
  }

  &--secondary {
    background-color: $grayscale-2;
  }
}

.input-icon-wrapper {
  @include size-svg(20px);
  @include color-svg($grayscale-8);

  padding-right: 8px;
  height: 20px;
}

.input {
  @extend %text;

  background-color: transparent;
  flex-grow: 1;
  height: $input-height;
  padding-right: $input-side-pad;

  &::placeholder {
    transition: opacity $default-transition;
    color: $grayscale-6;
    opacity: 0;
  }
}
