@import '@/app/styles';

$container-height: 42px;
$input-height: 40px;
$input-side-pad: 12px;
$input-transition: 150ms ease;

.container {
  @include flex-col(4px);

  transition: height $default-transition;
  height: $container-height;

  // Переменная применяется через TSX. Данный блок отвечает за анимацию появления подсказки
  &--with-helper {
    height: calc(var(--data-chip-height) + $container-height + 4px);
  }
}

.input {
  @extend %text;

  background-color: transparent;
  flex-grow: 1;
  height: $input-height;
  padding-right: $input-side-pad;
  border-radius: 6px;

  &::placeholder {
    transition: opacity $default-transition;
    color: $grayscale-6;
    opacity: 0;
  }

  // Убираем дефолтный эффект autofill (блядский желтый цвет)
  &:-webkit-autofill {
    transition: background-color 2147483647s ease-in-out 0s; // 68.24 года)))
    -webkit-text-fill-color: $grayscale-11;
    appearance: none;
  }
}

.fieldset {
  border: 1px solid $grayscale-4;
  border-radius: 6px;
  transition: border-color $default-transition;
  position: relative;

  &:not(&--error):focus-within {
    border-color: $accent-1;
  }

  .legend {
    @extend %caption;

    margin: 0 8px;
    height: 1px;
    opacity: 0;
  }

  .label {
    @extend %text;

    color: $grayscale-8;
    transition: font-size $input-transition, color $input-transition;
    position: absolute;
  }

  &--error {
    border-color: $red-1;
    animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  &--input-filled {
    .label {
      @extend %caption;

      color: $grayscale-9;
    }

    .input::placeholder {
      opacity: 1;
    }
  }
}

.input-wrapper {
  @include flex-row-center;

  min-height: $input-height;
  max-height: $input-height;
  border-radius: 6px;
  padding-left: $input-side-pad;

  &--primary {
    background-color: $grayscale-1;

    .input:-webkit-autofill {
      box-shadow: inset 0 0 0 30px $grayscale-1;
    }
  }

  &--secondary {
    background-color: $grayscale-2;

    .input:-webkit-autofill {
      box-shadow: inset 0 0 0 30px $grayscale-2;
    }
  }
}

.input-icon-wrapper {
  @include size-svg(20px);
  @include color-svg($grayscale-8);

  padding-right: 8px;
  height: 20px;
}
