@import '../mixins/mediaQuery';

%h1 {
  font-size: clamp(90px, 20 * (1vw + 1vh) / 2, 200px);
  font-weight: 700;
  line-height: 100%;
}

%h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;

  @include mobile {
    font-size: 32px;
    line-height: 40px;
  }
}

%h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;

  @include mobile {
    font-size: 24px;
    line-height: 30px;
  }
}

%h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;

  @include mobile {
    font-size: 24px;
    line-height: 30px;
  }
}

%h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  @include mobile {
    font-size: 20px;
    line-height: 24px;
  }
}

%h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  @include mobile {
    font-size: 18px;
    line-height: 22px;
  }
}

%text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  @include mobile {
    font-size: 14px;
    line-height: 16px;
  }
}

%text-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;

  @include mobile {
    font-size: 14px;
    line-height: 16px;
  }
}

%subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;

  @include mobile {
    font-size: 16px;
    line-height: 16px;
  }
}

%button-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;

  @include mobile {
    font-size: 16px;
    line-height: 16px;
  }
}

%button-label-mini {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  @include mobile {
    font-size: 14px;
    line-height: 14px;
  }
}

%caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @include mobile {
    font-size: 12px;
    line-height: 14px;
  }
}

%caption-mini {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;

  @include mobile {
    font-size: 10px;
    line-height: 12px;
  }
}
