$black-theme: (
  grayscale: (
    -1: #08060a,
    -2: #151316,
    -3: #1a181b,
    -4: #242226,
    -5: #333036,
    -6: #403b45,
    -7: #595260,
    -8: #80758a,
    -9: #b3a7be,
    -10: #ccc2d6,
    -11: #e5e0eb,
    -12: #ffffff,
    -card: #0d0b0f,
  ),
  secondary: (
    -1: #30263a,
    -2: #392a49,
    -3: #473956,
  ),
  accent: (
    -1: #8124db,
    -2: #4a1280,
    -3: #390e63,
    -4: #2e0755,
    -5: #1f033b,
    -6: #1e0b30,
  ),
  green: (
    -1: #159761,
    -2: #0c633e,
    -3: #054c2e,
    -4: #033b23,
    -5: #044629,
    -6: #002915,
  ),
  red: (
    -1: #ad063d,
    -2: #7c042c,
    -3: #630323,
    -4: #4d041c,
    -5: #390314,
    -6: #27020e,
  ),
  blue: (
    -1: #093faa,
    -2: #012874,
    -3: #03215d,
    -4: #021844,
    -5: #011234,
    -6: #010d28,
  ),
  orange: (
    -1: #c87904,
    -2: #9c6006,
    -3: #885304,
    -4: #6f4403,
    -5: #573400,
    -6: #291b08,
  ),
);
