$black-theme: (
  grayscale: (
    -1: #08060a,
    -2: #151316,
    -3: #1a181b,
    -4: #242226,
    -5: #333036,
    -6: #403b45,
    -7: #595260,
    -8: #80758a,
    -9: #b3a7be,
    -10: #ccc2d6,
    -11: #e5e0eb,
    -12: #ffffff,
    -card: #0d0b0f,
  ),
  secondary: (
    -1: #30263a,
    -2: #392a49,
    -3: #473956,
  ),
  accent: (
    -1: #8124db,
    -2: #4a1280,
    -3: #390e63,
    -4: #2e0755,
    -5: #1f033b,
    -6: #1e0b30,
  ),
);
