$dark-theme: (
  grayscale: (
    -1: #0E0E0F,
    -2: #19181B,
    -3: #222025,
    -4: #2F2B33,
    -5: #3F3A44,
    -6: #4F4A54,
    -7: #6D6971,
    -8: #8D8892,
    -9: #ADA9B2,
    -10: #E3E0E6,
    -11: #F9F5FE,
    -12: #ffffff,
  ),
  accent: (
    -1: #963AF2,
    -2: #8734DA,
    -3: #782EC2,
    -4: #3C1761,
    -5: #170924,
  ),
);
