$dark-theme: (
  grayscale: (
    -1: #191122,
    -2: #30253c,
    -3: #3a2e47,
    -4: #504262,
    -5: #655971,
    -6: #7e7488,
    -7: #9b90a6,
    -8: #b1a7bc,
    -9: #d6d0db,
    -10: #e9e7ea,
    -11: #f9f8f9,
    -12: #ffffff,
    -card: #21172b,
  ),
  accent: (
    -1: #7c23d3,
    -2: #6b15b9,
    -3: #561291,
    -4: #431f63,
    -5: #301449,
    -6: #2d1c3b,
  ),
);
