$dark-theme: (
  grayscale: (
    -1: #191122,
    -2: #30253c,
    -3: #3a2e47,
    -4: #504262,
    -5: #655971,
    -6: #7e7488,
    -7: #9b90a6,
    -8: #b1a7bc,
    -9: #d6d0db,
    -10: #e9e7ea,
    -11: #f9f8f9,
    -12: #ffffff,
    -card: #21172b,
  ),
  secondary: (
    -1: #3f2f53,
    -2: #4a3960,
    -3: #594671,
  ),
  accent: (
    -1: #7c23d3,
    -2: #6b15b9,
    -3: #561291,
    -4: #431f63,
    -5: #301449,
    -6: #2d1c3b,
  ),
  green: (
    -1: #0b975c,
    -2: #0a8b55,
    -3: #1a6945,
    -4: #194f36,
    -5: #204f39,
    -6: #123122,
  ),
  red: (
    -1: #ac0d41,
    -2: #9d113f,
    -3: #8c173f,
    -4: #731736,
    -5: #5b1029,
    -6: #2d0311,
  ),
  blue: (
    -1: #1c53bf,
    -2: #1845a1,
    -3: #163c89,
    -4: #113379,
    -5: #0b1f48,
    -6: #0e1c3a,
  ),
  orange: (
    -1: #d68307,
    -2: #c67a08,
    -3: #b56f06,
    -4: #99600b,
    -5: #724812,
    -6: #3e2a11,
  ),
);
