$light-theme: (
  grayscale: (
    -1: #fff,
    -2: #f3f2f5,
    -3: #ebe7ee,
    -4: #d9d3de,
    -5: #c2b6cc,
    -6: #ac9ab8,
    -7: #907b9e,
    -8: #786288,
    -9: #574466,
    -10: #3b2e44,
    -11: #211628,
    -12: #110717,
    -card: #fff,
  ),
  secondary: (
    -1: #eae3f0,
    -2: #f0ebf5,
    -3: #f6f3fa,
  ),
  accent: (
    -1: #8b2ce9,
    -2: #9947e9,
    -3: #b476f2,
    -4: #d1abf6,
    -5: #e8d5fb,
    -6: #f3eafd,
  ),
  green: (
    -1: #11965e,
    -2: #25aa73,
    -3: #55c295,
    -4: #a0d5bf,
    -5: #cfeadf,
    -6: #e7f4ef,
  ),
  red: (
    -1: #a81646,
    -2: #c33261,
    -3: #cf5e83,
    -4: #dca2b5,
    -5: #eed0da,
    -6: #f6e8ec,
  ),
  blue: (
    -1: #2364e2,
    -2: #3f75df,
    -3: #5f8ce4,
    -4: #a7c1f3,
    -5: #d3e0f9,
    -6: #e9effc,
  ),
  orange: (
    -1: #ffa115,
    -2: #faad3c,
    -3: #fbbc5d,
    -4: #ffd28f,
    -5: #ffe0b2,
    -6: #ffefd7,
  ),
);
