$light-theme: (
  grayscale: (
    -1: #ffffff,
    -2: #f3f2f5,
    -3: #ebe7ee,
    -4: #d9d3de,
    -5: #c2b6cc,
    -6: #ac9ab8,
    -7: #907b9e,
    -8: #786288,
    -9: #574466,
    -10: #3b2e44,
    -11: #211628,
    -12: #110717,
    -card: #ffffff,
  ),
  secondary: (
    -1: #eae3f0,
    -2: #f0ebf5,
    -3: #f6f3fa,
  ),
  accent: (
    -1: #8b2ce9,
    -2: #9947e9,
    -3: #b476f2,
    -4: #d1abf6,
    -5: #e8d5fb,
    -6: #f3eafd,
  ),
);
