@keyframes oscillating {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 60%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
