@import '@/app/styles';

.button {
  @include flex-row-center(8px);

  --padding-L: 0 20px;
  --padding-S: 0 12px;

  transition: opacity $default-transition, background-color $default-transition;
  justify-content: center;
  color: var(--content-color);
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;

  svg {
    transition: fill $default-transition;
    fill: var(--content-color);
  }

  span {
    transition: color $default-transition;
  }

  @media (hover: hover) {
    &:enabled:hover,
    &:enabled:focus {
      color: var(--content-hover-color);
      background-color: var(--bg-hover-color);

      svg {
        fill: var(--content-hover-color);
      }
    }
  }

  &:disabled {
    opacity: 40%;
    cursor: default;
    filter: saturate(60%);
  }

  &--fill {
    width: 100%;
  }

  &--square {
    padding: 0 !important;
    aspect-ratio: 1;
  }

  &_size--l {
    @include size-svg(20px);
    @extend %button-label;

    max-height: 40px;

    .icon-skeleton {
      height: 20px;
    }
  }

  &_size--s {
    @include size-svg(16px);
    @extend %button-label-mini;

    max-height: 32px;

    .icon-skeleton {
      height: 16px;
    }
  }

  &_variant--primary,
  &_variant--secondary,
  &_variant--ghost {
    border-radius: 4px;

    &.button_size--l {
      padding: var(--padding-S);
      min-height: 40px;
    }

    &.button_size--s {
      padding: var(--padding-S);
      min-height: 32px;
    }
  }

  &_variant--flat,
  &_variant--thin {
    transition: filter $default-transition;
    &:active {
      filter: brightness(0.8);
    }
  }

  .button-loader {
    div {
      background-color: var(--content-color);
    }
    transition: opacity $default-transition;
    transform: scale(0.25) translate(-300%, -350%);
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  &--loading {
    > :not(.button-loader) {
      opacity: 0;
    }
    animation: oscillating 2s ease infinite;
  }
}

.skeleton-text {
  min-width: 4ch;
}

.skeleton_variant {
  &--primary,
  &--secondary,
  &--ghost {
    &.button_size {
      &--l {
        padding: var(--padding-L);
        min-height: 40px;
        max-height: 40px;
      }
      &--s {
        padding: var(--padding-S);
        min-height: 32px;
        max-height: 32px;
      }
    }
  }

  &--flat,
  &--thin {
    background-color: transparent !important;
    padding: 0;
    width: 12ch;

    &.button_size {
      &--l {
        min-height: 20px;
        max-height: 20px;
      }
      &--s {
        min-height: 16px;
        max-height: 16px;
      }
    }
  }
}
