@import '@/app/styles';

.button {
  @include flex-row-center(12px);

  --padding-L: 0 20px;
  --padding-S: 0 12px;

  transition: opacity $default-transition, background-color $default-transition,
    color $default-transition;
  justify-content: space-between;
  color: var(--content-color);
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;

  svg {
    transition: fill $default-transition;
    fill: var(--content-color);
  }

  @media (hover: hover) {
    &:enabled:hover,
    &:enabled:focus {
      color: var(--content-hover-color);
      background-color: var(--bg-hover-color);

      svg {
        fill: var(--content-hover-color);
      }
    }
  }

  &:disabled {
    opacity: 40%;
    cursor: default;
    filter: saturate(60%);
  }

  .icon-wrapper {
    @include flex-row-center(12px);

    &_align--right {
      flex-direction: row-reverse;
    }
  }

  &--fill {
    width: 100%;
  }

  &--square {
    padding: 0;
    aspect-ratio: 1;
  }

  &_size--l {
    @include size-svg(20px);
    @extend %button-label;
  }

  &_size--s {
    @include size-svg(16px);
    @extend %button-label-mini;
  }

  &_variant--primary,
  &_variant--secondary,
  &_variant--ghost {
    border-radius: 4px;

    &.button_size--l {
      padding: var(--padding-S);
      min-height: 40px;
    }

    &.button_size--s {
      padding: var(--padding-S);
      min-height: 32px;
    }
  }
}
