@import '@/app/styles';

$circle-size: 16px;
$switch-padding: 2px;

.container {
  @include flex-row-center;
  @extend %text;

  color: $grayscale-10;
  transition: color $default-transition;

  &--space-between {
    justify-content: space-between;
    width: 100%;
  }

  &--gap {
    column-gap: 8px;
  }
}

.custom-switch-checkbox {
  border-radius: $circle-size;
  background-color: $grayscale-3;
  width: calc(2 * ($circle-size + $switch-padding));
  height: calc($circle-size + 2 * $switch-padding);
  position: relative;
  display: flex;
  transition: background-color $default-transition;
  cursor: pointer;

  div {
    border-radius: 50%;
    width: $circle-size;
    height: $circle-size;
    background-color: $constant-white;
    position: absolute;
    left: $switch-padding;
    top: $switch-padding;
    transition: left $default-transition;
  }
}

input:disabled + .container {
  @extend %disabled;

  .custom-switch-checkbox {
    cursor: default;
  }
}

input {
  &:checked {
    + .container .custom-switch-checkbox {
      background-color: $accent-1;

      div {
        left: calc(100% - $circle-size - $switch-padding);
      }
    }

    &:enabled:focus + .container .custom-switch-checkbox,
    &:enabled + .container .custom-switch-checkbox:hover {
      background-color: $accent-2;
    }
  }

  &:not(:checked) {
    &:enabled:focus + .container .custom-switch-checkbox,
    &:enabled + .container .custom-switch-checkbox:hover {
      background-color: $accent-5;
    }
  }
}
