@import '@/app/styles';

.link {
  @extend %button-label-mini;

  color: $grayscale-9;
  transition: color $default-transition;

  &:hover,
  &:focus {
    color: $accent-1;
  }

  &:active {
    color: $accent-2;
  }
}
